
%% Layout of the project
{ sub_dirs, [
	"./rel",
	"./deps"
]}.

%% Modules we depend upon...
{ deps, [
	{rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", "rabbitmq-3.0.0"}},
	{amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.0"}}},
	{webmachine, ".*", {git, "git://github.com/basho/webmachine.git","master" }}
]}.

%% Test options
{ cover_enabled, true }.
{ clean_file, [ "*.eunit", "ebin/*.beam" ]}.
{eunit_opts, [verbose,{report, {eunit_surefire, [{dir, "."}]}}]}.
